[user]
	name = m-gail
	email = 34513390+m-gail@users.noreply.github.com
	signingkey = C281A4961C081159
[init]
	defaultBranch = main
[merge]
    tool = nvim
[mergetool]
    keepBackup = false
[mergetool "nvim"]
    cmd = nvim -d $LOCAL $MERGED $REMOTE
[commit]
	gpgsign = true
[url "git@github.com:"]
  insteadOf = https://github.com/
