// Main Monitor

workspace "terminal-1" {
    open-on-output "DP-1"
}

workspace "dev-1" {
    open-on-output "DP-1"
}

workspace "browser-1" {
    open-on-output "DP-1"
}

workspace "chat-1" {
    open-on-output "DP-1"
}

workspace "browserdev-1" {
    open-on-output "DP-1"
}

workspace "notes-1" {
    open-on-output "DP-1"
}

workspace "other-1" {
    open-on-output "DP-1"
}

// Secondary Monitor

workspace "terminal-2" {
    open-on-output "HDMI-2-A"
}

workspace "dev-2" {
    open-on-output "HDMI-2-A"
}

workspace "browser-2" {
    open-on-output "HDMI-2-A"
}

workspace "chat-2" {
    open-on-output "HDMI-2-A"
}

workspace "browserdev-2" {
    open-on-output "HDMI-2-A"
}

workspace "notes-2" {
    open-on-output "HDMI-2-A"
}

workspace "other-2" {
    open-on-output "HDMI-2-A"
}
