let mapleader=" "

set scrolloff=5

set visualbell
set noerrorbells
set incsearch
set number
set relativenumber
set showmode
set NERDTree
set highlightedyank
let g:highlightedyank_highlight_duration = "100"
let g:highlightedyank_highlight_color = "rgba(82, 79, 103, 255)"
set expandtab
set ignorecase
" make sdkinit alias usable in !
set shellcmdflag=-lic

" Execute
map <leader>er <Action>(Run)
map <leader>ed <Action>(Debug)
map <leader>eb <Action>(CompileDirty)
map <leader>ek <Action>(Stop)
map <leader>etr <Action>(RunClass)
map <leader>etd <Action>(DebugClass)
map <leader>etc <Action>(RunCoverage)

" Commenting
map gc <Action>(CommentByLineComment)<esc>
map gb <Action>(CommentByBlockComment)<esc>

" General
nnoremap ZW :wa<CR>
nnoremap H ^
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
map <C-o> <Action>(Back)zz
map <C-i> <Action>(Forward)zz
map Y y$
map <leader>y "+y
map <leader>Y "+Y
map <leader>p "+p
map <leader>P "+P
map <leader>vr <Action>(IdeaVim.ReloadVimRc.reload)

" LSP/IDE
map gd <Action>(GotoDeclaration)
map gD <Action>(GotoDeclaration)
map gr <Action>(GotoDeclaration)
map gI <Action>(GotoImplementation)
map <leader>sa <Action>(ShowIntentionActions)
map <leader>sf <Action>(ReformatCode)<Action>(OptimizeImports)
map <leader>rn <Action>(RenameElement)
map <leader>sd <Action>(ShowErrorDescription)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(ExtractMethod)

" Telescope/find files
map <leader>fg <Action>(FindInPath)
map <leader>ff <Action>(GotoFile)
map <leader>fl <Action>(GotoSymbol)

" NvimTree/NERDTree
map <leader>fb <Action>(ActivateProjectToolWindow)
map <leader>fB <Action>(SelectInProjectView)

" Budget Harpoon yayaya
nnoremap <leader>j 'A
nnoremap <leader>k 'B
nnoremap <leader>l 'C
nnoremap <leader>; 'D
nnoremap <leader>J 'E
nnoremap <leader>K 'F
nnoremap <leader>L 'G
nnoremap <leader>: 'H
nnoremap <leader>hj mA
nnoremap <leader>hk mB
nnoremap <leader>hl mC
nnoremap <leader>h; mD
nnoremap <leader>hJ mE
nnoremap <leader>hK mF
nnoremap <leader>hL mG
nnoremap <leader>h: mH
nnoremap <leader>hc :delmarks A-Z<CR>
map <leader>H <Action>(ShowTypeBookmarks)

" Dap
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dn <Action>(StepOver)
map <leader>di <Action>(StepInto)
map <leader>do <Action>(StepOut)
map <leader>dc <Action>(Resume)

" Git
map <leader>gr <Action>(Vcs.RollbackChangedLines)
map [h <Action>(VcsShowPrevChangeMarker)zz
map ]h <Action>(VcsShowNextChangeMarker)zz

" Navigation
map ]m ]mzz
map [m [mzz
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)

" IntelliJ
map <leader>z <Action>(ToggleDistractionFreeMode)
