let mapleader=" "

set scrolloff=5

set incsearch
set number
set relativenumber
set showmode
set NERDTree
set easymotion

" Execute
map <leader>er <Action>(Run)
map <leader>eb <Action>(CompileDirty)
map <leader>ek <Action>(Stop)

" LSP
map <leader>riv <Action>(IntroduceVariable)
map <leader>ric <Action>(IntroduceConstant)
map <leader>rif <Action>(IntroduceField)
map <leader>rip <Action>(IntroduceParameter)

" Commenting
map gc <Action>(CommentByLineComment)<esc>
map gb <Action>(CommentByBlockComment)<esc>

" General
nnoremap ZW :wa<CR>
nnoremap H ^
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
xnoremap <leader>p \"_dP
xnoremap <leader>c \"+
nnoremap <leader>c \"+

" Hop/EasyMotion
map <leader>w <Plug>(easymotion-bd-w)
map <leader>s <Plug>(easymotion-bd-f)

" LSP/IDE
map gd <Action>(GotoDeclaration)
map gD <Action>(GotoDeclaration)
map gr <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map <leader>la <Action>(ShowIntentionActions)
map <leader>lf <Action>(ReformatCode)<Action>(OptimizeImports)
map <leader>lr <Action>(RenameElement)

" Telescope/find files
map <leader>fg <Action>(FindInPath)
map <leader>ff <Action>(GotoFile)
map <leader>fl <Action>(GotoSymbol)

" NvimTree/NERDTree
map <leader>fb <Action>(ActivateProjectToolWindow)
map <leader>fB <Action>(SelectInProjectView)