:root {
    --toolbarbutton-border-radius: 14px !important;
}

#tabbrowser-tabs {
    display: none;
}

#alltabs-button {
    display: none;
}

#sidebar-header { display: none; }

.tab-background {
    border-radius: 14px !important;
}
